body{
  background-color: #f0f0f0;
}
.catalog-wrapper{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.catalog-item{
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed #666666;
  width: 250px;
  margin: 10px;
  height: 300px;
  box-shadow: #999999 5px 5px 15px;
}

.catalog-item:hover{
  box-shadow: rgb(38, 71, 150)  5px 5px 15px;
  border-color: aquamarine;
}
.catalog-item h4{
  font-size: 13px;
  font-family: Arial,Tahoma;

}
.vendor{
  position: relative;
  bottom: 0;
}
.image{
  height: 160px;
  width: 100%;
}
.image img{
  width: 160px;
  height: 160px;
  margin: 10px auto;
  display: block;
}
.details-wrapper{
  padding: 50px;
  width: 900px;
  margin: 0 auto;
}
.details-wrapper h2{
  text-align: center;
  margin-bottom: 50px;
}
.details-wrapper img{
  float: left;
  margin-top: 50px;

}
.price:after{
  content: "\20BD";
}

